/* COLORS */
:root {
	--color-white: #f3f3f3;
	--color-darkblue: #1b1b32;
	--color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
  --color-placeholder:#495057;
}

/* BASE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: darkslateblue;
  color: var(--color-white);
}

/* HEADER */
.header {
  text-align: center;
  color: var(--color-white);
  margin-top: 5%;
  margin-bottom: 1.7%;
  line-height: 4.5rem;
}

.header__title {
  text-align: center;
  font-size: 2.9rem;
  font-weight: 400;
}

.header__description {
  font-weight: 200;
  font-size: 1.85rem;
  font-style: italic;
}

/* FORM */
.form {
  width: 50%;
  margin: 0 auto;
  background-color: var(--color-darkblue-alpha);
  opacity: .85;
  border-radius: 5px;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  padding-bottom: 6rem;

}

.label {
 /* Aqui va lo de las etiquetas en teoría */ 
}

.input-text {
  width: 100%;
  margin-top: 1.5%;
  margin-bottom: 4%;
  border-radius: 3px;
  height: 4rem;
  padding-left: 1.5rem;
  font-size: 1.8rem;
}

.input-text::placeholder {
  color: var(--color-placeholder);
  
}

.input-text:focus {
  border: none;
  outline: 3px solid blue;
}

.optional {
  font-weight: 300;
  font-size: 1.5rem;
}

.radio {
  margin-right :1.5% ;
  min-height: 2rem;
  min-width: 2rem;
  margin-top: 2.5%;
}

.textarea {
  width: 100%;
  height: 14rem;
  border-radius: 1px;
  border: none;
  padding-left: 2rem;
  padding-top: 1rem;
  font-family: inherit;
}

.submit {
  width: 100%;
  height: 5rem;
  background-color: var(--color-green);
  color: var(--color-white);
  border: none;
  border-radius: 3px;
  font-size: 2rem;

}

/* UTILITIES */
.margin-bottom-small {
  margin-bottom: 5%;
}

.margin-bottom-medium {
  margin-bottom: 10%;
}

.margin-top-small {
  margin-top: 2.5%;
}

.check {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 1%;
}